apiVersion: apps/v1
kind: Deployment
metadata:
  name: probe-agent
  labels:
    app: probe
spec:
  replicas: 2
  selector:
    matchLabels:
      app: probe
  template:
    metadata:
      labels:
        app: probe
    spec:
      containers:
      - name: probe-agent
        # REPLACE 'gke-hybrid-autonomy' with your actual project ID
        image: europe-west3-docker.pkg.dev/gke-hybrid-autonomy/my-repo/probe-agent:v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "250m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
